body {
    margin: 15px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    margin-top: 50px;
    margin-bottom: 45px;
    font-size: 60px;
}

h2 {
    padding: 15px;
    color: white;
    background-color: green;
}

.blue-box {
    margin-bottom: 200px;
    width: 200px;
    color: white;         
    line-height: 1.5em;
    background-color: blue;
}

.red-text {
    color: red;
}

.padding-80 {
    padding: 80px;
}
.padding-200 {
    padding-left: 200px;
}

ul {
    padding: 20px 80px;
}

li {
    font-size: 48px;
    border: 1px solid #000000;
    
}
input {
    width: 300px;
    font-size: 24px;
}